Options +FollowSymlinks
RewriteEngine On

# Because we need two different rewritebases depending on whether we're local
# or on "production", i.e. in uni, the production rewrite is here.
# The local rewrite is in local.htaccess, and is set by the Apache vhost config
# As that can be set locally, the uni one can't.
# Local vhost config in: /etc/apache2/extra/httpd-vhosts.conf
RewriteBase /~as2-jegtnes/atwd

# Strip the trailing slash, if we're not in a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ $1 [L,R=301]

DirectoryIndex report.html
RewriteRule index.html report.html [L]
RewriteRule crimes/doc/index.html report.html [L]
RewriteRule crimes/doc/ report.html [L]
RewriteRule crimes api/index.php [L]
